<!-- for now the data is taken from route.ts but it has to be taken from database -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PDF Example</title>
  <link rel="stylesheet" href="../styles/pdf.css">
</head>
<body>
  <h1>PDF for <%= user %></h1>
  <p>Created on <%= date %></p>
  <p>The costs are <%= cost %></p>

  <!-- dummy image -->

  <img src="https://i.imgur.com/utRZT2L.png" alt="cats">
  <!-- for prisma img fetching -->

  
  <!-- <div>
    <img src="<%= courseImageUrl %>" alt="<%= courseImageDescription %>">
  </div> -->

</body>
</html>