<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Rechnung</title>
  <style>
    h2 {
      text-align: center;
    }
    body { font-family: Arial, sans-serif; margin: 20px; }
    .header, .footer { margin-top: 20px; }
    table { width: 100%; border-collapse: collapse; margin-top: 20px; }
    th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
    .bold { font-weight: bold; }
    .right { text-align: right; }
  </style>
</head>
<body>

  <!-- Logo -->
  <div class="header">
    <h2>
       <img src="http://localhost:3000/img/DCV_Logo-Schriftzug_pos_WEB.svg" alt="Logo" class="logo" />
    </h2>
  </div>

<!-- Recipient -->
<div>
  <p>
    <%= participant.salutation %><br>
    <%= participant.name %> <%= participant.surname %><br>
    <%= participant.street %><br>
    <%= participant.postalCode %> <%= participant.city %><br>
    <%= participant.country %>
  </p>
</div>

 <!-- Rechnung Header -->
  <div>
    <h3>Rechnung</h3>
        <p style="text-align: right;">Datum: <%= new Date().toLocaleDateString('de-DE') %></p>
        <p>Rechnungsnummer: <%= invoices[0].invoiceNumber %></p>
 
  </div>

  <!-- Invoice Table -->
  <table>
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Menge</th>
        <th>Einzelpreis</th>
        <th>MwSt</th>
        <th>Gesamt</th>
      </tr>
    </thead>
    <tbody>
