<!-- IMPORTANT -->
<!-- Zertifikat wird doppelseitug bedrcukt einmal vorderseite das Zertifikat name unterschrift etc und auf der Rückseite die Kursinhalte -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <!-- dummy nicht wichtig -->
    <h1>Zertifikat</h1>
    <p>Hiermit wird bestätigt, dass <%= user %> am <%= date %> erfolgreich am Kurs <%= courseName %> teilgenommen hat.</p>
    <p>Trainer: <%= trainerName %></p>
    <p>Startdatum: <%= startDate %></p>
    <img src="<%= imageUrl %>" alt="Kursbild">


</body>
</html>